{% extends 'board.html.twig' %}
{% import 'card.macro.html.twig' as card_macro %}

{% block title %}Dashboard{% endblock %}

{% block actions %}
    <a href="{{ url('new_form') }}" class="waves-effect waves-light btn red lighten-2"><i class="material-icons left">add_box</i>New Task</a>
{% endblock %}

{% block board_content %}
    <div class="row teal" style="margin-bottom: 0!important;">
        <div class="col center-align z-depth-1">Draft</div>
        <div class="col center-align z-depth-1">New</div>
        <div class="col center-align z-depth-1">Ready</div>
        <div class="col center-align z-depth-1">WIP</div>
        <div class="col center-align z-depth-1">On Hold</div>
        <div class="col center-align z-depth-1">Done</div>
    </div>
    <div class="row">
        {{ card_macro.column(cards.draftCollection) }}
        {{ card_macro.column(cards.newCollection) }}
        {{ card_macro.column(cards.readyCollection) }}
        {{ card_macro.column(cards.wipCollection) }}
        {{ card_macro.column(cards.onHoldCollection) }}
        {{ card_macro.column(cards.doneCollection) }}
    </div>
{% endblock %}