{% extends 'base.html.twig' %}
{% block title %}Edit task{% endblock %}

{% block body %}
    <div class="card">

        <!-- Card body -->
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>$('.datepicker').pickadate();</script>
{% endblock %}