<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Default{% endblock %} - PersonalKanban</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/mdb.min.css">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div  class="container">
                <div class="row">
                    <div class="col white">
                        <h1 class="text-center">{{ block('title') }} - Personal Kanban Board</h1>
                    </div>
                </div>
                {% block body %}{% endblock %}
        </div>
        {#<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>#}
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/popper.min.js"></script>
    {% block javascript %}{% endblock %}
    </body>
</html>
