{% extends "base.html.twig" %}

{% block body %}
    <div class="row grey">
        <div class="col">{% block actions %}Actions{% endblock %}</div>
        <div class="col">{% block filters %}Filter{% endblock %}</div>
    </div>
    {% block board_content %}{% endblock %}
{% endblock %}