{% macro column(collection) %}
    {% import _self as cardOutput %}
    <div class="col z-depth-1" style="padding: 10px;">
        <div>
        {% for card in collection %}
            {{ cardOutput.card(card) }}
        {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro card(card) %}
    {% import _self as cardOutput %}
    <div class="card" data-task-id="{{ card.task.id }}" style="margin-bottom: 10px;">
        <div id="tags">
            {% for tag in card.task.tags %}
                <span class="badge badge-pill {{ tag.color }}" data-tag-id="{{ tag.id }}">{{ tag.name }}</span>
            {% endfor %}
        </div>
        <div class="card-body">
            <span class="card-title">{{ card.task.title }}</span>
            <p class="card-text">
                {{ card.task.description }}
            </p>
        </div>
        {#<div class="card-action" style="border-top: 1px solid grey;">#}
        <div class="mdb-color lighten-3 text-center">
        {% for action in card.actions %}
            {{ cardOutput.card_action(action, card.task) }}
        {% endfor %}
            {#<a class="btn-floating btn-sm waves-effect waves-light"><i class="material-icons">edit</i></a>#}
            {#<a class="">Action</a>#}
        </div>
    </div>
{% endmacro %}

{% macro card_action(action, task) %}
    {% spaceless %}
    <a class="{{ action.classesAsString }} white-text" href="{{ action.target(task) }}">
        {% if action.icon is not empty %}
            <i class="fa fa-{{ action.icon }}"></i>
        {% endif %}
        {{ action.name }}
    </a>
    {% endspaceless %}
{% endmacro %}

{% macro card_tag(tag) %}
    {{ dump(tag) }}
    {% spaceless %}
    <div class="chip">{{ tag }}</div>
    {% endspaceless %}
{% endmacro %}